.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  color: var(--b-color);
}
.home__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0px;
  width: 100vw;
  height: 100vh;
  position: sticky;
  top: 0px;
}

.home__main {
  background: var(--b-color);
  color: white;
  font-size: 5vw;
}
.home__main2 {
  font-size: 3vw;
}
.home__main3 {
  background: var(--b-color);
  color: white;
  font-size: 4vw;
}
