.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--b-color);
}
.home_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0px;
  width: 100vw;
  height: 100vh;
  position: sticky;
  top: 0px;
}

.home_main {
  background: var(--b-color);
  color: white;
  font-size: 5vw;
  letter-spacing: 3px;
}
.home_main2 {
  width: 80%;
  display: flex;
  align-items: center;
}
.home_main2_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  margin-right: 30px;
}
.home_main2_text h3 {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 700;
}
.home_main2_text div {
  font-size: 1.2em;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 600;
}
.home_main2_img {
  width: 30%;
}
.home_mypic {
  width: 100%;
  border-radius: 15px;
}
.home_main3 {
  background: var(--b-color);
  color: white;
  font-size: 4vw;
}
.home_main-text2 {
  background: url("https://media.vlpt.us/images/pomeranian91/post/03702bae-b4d0-477a-94b6-4d966ec1f863/stripedback.jpg");
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -o-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  animation: hometextstrited 7s linear infinite;
}

.home_main3-wave {
  background: url("https://media.vlpt.us/images/pomeranian91/post/f95218d6-efd6-4745-812e-6d34189f0e7b/wave.svg") repeat-x;
  z-index: 5;
  color: transparent;
  width: 100%;
  height: 300px;
  position: absolute;
  bottom: -50px;
  animation: homewave 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
}

@keyframes hometextstrited {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 10% 50% 0%;
  }
}
@keyframes homewave {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -1600px;
  }
}
