* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jua", sans-serif;
  overflow-x: hidden;
  line-height: 1.15;
}
:root {
  --b-color: #191919;
  --y-color: #ffcd00;
  --wy-color: #f5d95a;
  --g-color: #dcdcdc;
}
