.grid-container {
  display: grid;
  background: var(--b-color);
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 30px;
}
.grid-container__nav {
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
.grid-container__nav:hover {
  color: var(--wy-color);
  transition: 0.5s;
}
