.grid-container {
  display: grid;
  background: var(--b-color);
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 30px;
}
.grid-container_nav {
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  margin-top: 5px;
}
.grid-container_nav:hover {
  color: var(--b-color);
  background-color: var(--wy-color);
  border-radius: 20px;
  transition: 0.5s;
}

.goHome {
  position: fixed;
  top: 30px;
  left: 50%;
  background: transparent;
  color: var(--b-color);
  cursor: pointer;
  z-index: 5;
  opacity: 0.6;
  width: 40px;
  height: 20px;
  border-radius: 15px;
  border: none;
  text-align: center;
}
.plzscroll_container {
  position: relative;
}
.plzscroll_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -100px;
  left: -50px;
  width: 100px;
  color: white;
  opacity: 0.3;
}
.plzscroll_ico {
  width: 24px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50px;
}
.plzscroll_ico::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  margin-left: -3px;
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 100%;
  animation-name: scrolldot;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
.plzscroll_text {
  font-size: 18px;
}
@keyframes scrolldot {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
