.grid-container {
  display: grid;
  background: var(--b-color);
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 30px;
}
.grid-container__nav {
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
.grid-container__nav:hover {
  color: var(--wy-color);
  transition: 0.5s;
}

.goHome {
  position: fixed;
  top: 30px;
  left: 50%;
  background: transparent;
  color: (--b-color);
  cursor: pointer;
  z-index: 5;
  opacity: 0.7;
  width: 40px;
  height: 20px;
  border-radius: 15px;
  border: none;
  text-align: center;
}
