.skills {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  margin-top: 200px;
}
.skills__text--box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 40%;
  margin-right: 100px;
}

.skills__icons {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  position: sticky;
  top: 100px;
}

.skills__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 3vh;

  margin-bottom: 600px;
}

.skills__icons--box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.skills__icons--option {
  width: 30%;
  margin: auto;
}
.skills__text--main {
  font-size: 32px;
}
