.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: inherit;
}
.skills-text {
  width: 40%;
  background: blue;
}
.skills-icons {
  width: 40%;
  background: blueviolet;
  padding: 30px;
  border: 1px solid black;
}
.skills-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: inherit;
}
.skills-icons_option {
  width: 25%;
  margin: auto;
}
