.skills {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills__text {
  width: 40%;
  background: blue;
}
.skills__icons {
  width: 40%;
  background: blueviolet;
  padding: 30px;
  border: 1px solid black;
}
.skills__icons--box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: inherit;
}
.skills__icons--option {
  width: 25%;
  margin: auto;
}
